@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 2rem;
}


a {
    color: rgb(0, 89, 255);
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

/* header */

#header {
    height: 50px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: white;
}

#header .auth-options {
    display: flex;
    height: 100%;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: rgb(139, 34, 34);
    color: white;
}

#header .auth-options button:hover {
    background-color: rgb(161, 61, 61);
}

/* mobile */

@media screen and (max-widt: 550px) {
    #header .title {
        font-size: 1.2rem;
    }
    #header .auth-options button {
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* error notice */

.error-notice {
    border: 1px solid rgba(197, 9, 9, 0.829);
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 8px;
    color: red;
    background-color: rgb(231, 212, 212);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-notice button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(229, 194, 194);
}

/* manuscript list */
.list-header {
    margin-left: .5rem;
    margin-right: 2rem;
}

.manuscript-list {
    height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

.manuscript-list .row {
    margin-left: auto;
    margin-right: auto;
}

/* reviewer reader */
.review-form {
    width: 60rem;
}

.job-tracker {
    height: 32rem;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1rem;
}