@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgb(0, 89, 255);
    text-decoration: unset;
}

ul {
    margin-left: 1.5rem;
    list-style: none;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 1em 0;
}

/* general */

body {
    font-family: "Roboto", sans-serif;
}

.page {
    padding: 1rem;
}


/* header */

#header {
    height: 50px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .title {
    margin: 0;
    padding: 0 1rem;
    color: white;
}

#header .auth-options {
    display: flex;
    height: 100%;
}

#header .auth-options button {
    padding: 0 1rem;
    background-color: rgb(139, 34, 34);
    color: white;
}

#header .auth-options button:hover {
    background-color: rgb(161, 61, 61);
}

/* mobile */

@media screen and (max-widt: 550px) {
    #header .title {
        font-size: 1.2rem;
    }
    #header .auth-options button {
        font-size: 0.9rem;
        padding: 0 0.5rem;
    }
}